---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>Mi stack abarca herramientas y tecnologías especializadas en automatización de flujos, desarrollo de plataformas e-commerce y optimización de procesos digitales y de software empresariales.
		</p>
	</div>
</section>
