---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="img/Desarrollador-paginas-web-colombia-123.jpeg"
			alt="Foto de perfil de William Peñaranda"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Apasionado de la tecnología desde los 8 años, con una profunda curiosidad por entender cómo funcionan las cosas y cómo mejorarlas.	</p>
		

			<p class="about__text">Soy desarrollador de software con experiencia en frontend y backend, especializado en crear soluciones funcionales y fáciles de mantener.</p>
			<p class="about__text">Desarrollo E-Commerce y Plataformas Web, optimizadas en SEO, rendimiento y experiencia de usuario, asegurando resultados eficaces y atractivos para los clientes.</p>
			<p class="about__text">Ayudo a empresas a automatizar procesos clave, como atención por WhatsApp, flujos de mensajería y marketing digital, optimizando tiempos y mejorando la interacción con los clientes.</p>
			<p class="about__text">Diseño soluciones tecnológicas personalizadas para generar un impacto positivo y duradero.</p>
		
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
