---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="ingalexsi">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/angular.svg"
				color="#FF4747"
				name="Angular"
			/>
			<TerminalIcon
				src="/assets/n8n.svg"
				color="#FF4747"
				name="N8N"
			/>
			<TerminalIcon src="/assets/nodejs.svg" color="#F3CBC2" name="NodeJS"/>
			<TerminalIcon src="/assets/nestjs.svg" color="#FF4747" name="NestJS"/>
			<TerminalIcon src="/assets/Spring_Boot.svg" color="#00FF7F" name="Spring"/>
			<TerminalIcon src="/assets/java.svg" color="#00A3FF" name="Java"/>
			<TerminalIcon src="/assets/epicor.svg" color="#00A3FF" name="ERP" />
			<TerminalIcon src="/assets/wordpress.svg" color="#00A3FF" name="Wordpress" />
			<TerminalIcon src="/assets/shopify.svg" color="#95BF47" name="Shopify" />
			<TerminalIcon src="/assets/typescript.svg" color="#7738ff" name="Typescript"/>
			<TerminalIcon src="/assets/javascript.svg" color="#3F75FF" name="Javascript" />
			<TerminalIcon src="/assets/sass.svg" color="#bf4080" name="Sass"/>
			<TerminalIcon src="/assets/mysql.svg" color="#f29111" name="MySQL"/>
			<TerminalIcon src="/assets/html.svg" color="#ff5733 " name="HTML5"/>
			<TerminalIcon src="/assets/css.svg" color="#2965f1 " name="CSS3"/>
		</div>
	</div>
</Terminal>
